<div class="container"ng-controller="newController">
<br><br>
<br><br>
    <div class="input-group">
        <span class="label label-default"> Where did you eat ?
            <input type="text" ng-model="newC.Title" class="form-control" placeholder="place" aria-describedby="basic-addon1"/>
    </span>
    </div>
    <div class="input-group">
        <span class="label label-default"> How was the food?</span>
        <div star-rating ng-model="newC.rating1" max="5" on-rating-select="rating.rateFunction(rating)">
        </div>
        <span class="label label-default"> How was the service?</span>
        <div star-rating ng-model="newC.rating2" max="5" on-rating-select="rating.rateFunction(rating)">
        </div>
        <span class="label label-default"> How would you rate the cleanliness of the place?</span>
        <div star-rating ng-model="newC.rating3" max="5" on-rating-select="rating.rateFunction(rating)">
        </div>

        <div class="panel panel-default">
            <div class="panel panel-heading"> What did you think about the food and what changes would you
                like to see in this restaurant?</div>
                <div class="panel-body">
                    <textarea style="width: 90%;height:auto; height: 150px;" ng-model="newC.body">
                    </textarea>
                </div>
        </div>

       <a href="#/review"> <button type="submit"  ng-click="newC.SubmitReview(newC)"
            class="btn-default btn-primary">Submit Review</button> </a>

    </div>

</div>
